parameters:
    # The level 7 is the highest level
    level: 1
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: '#Access to an undefined property#'
            path: src/Http/Resources/*
        # - '#Function factory invoked with 1 parameter, 0 required.#'
        # - '#Function factory invoked with 2 parameters, 0 required.#'
    excludes_analyse:
        - ./src/Http/Requests
    # checkMissingIterableValueType: false
