<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
       backupStaticAttributes="false"
       beStrictAboutTestsThatDoNotTestAnything="false"
       bootstrap="tests/bootstrap.php"
       colors="true"
       convertErrorsToExceptions="true"
       convertNoticesToExceptions="true"
       convertWarningsToExceptions="true"
       processIsolation="false"
       stopOnFailure="false"
>
  <testsuites>
      <testsuite name="mmCMS Test Suite">
          <directory suffix=".php">./tests/Feature</directory>
          <exclude>./tests/Feature/TestCase.php</exclude>
      </testsuite>
  </testsuites>
  <filter>
      <whitelist processUncoveredFilesFromWhitelist="true">
          <directory suffix=".php">./src/</directory>
      </whitelist>
  </filter>
  <php>
      <ini name="memory_limit" value="512M" />
      <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
  </php>
</phpunit>
